<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs')%>
  <body>
    <%-include('./partials/nav.ejs')%>
    <div class="page-container">

    <div id="content-wrap">
   <img style="width: 1136px;" src="/images/banner3.jpg" height="150" alt="">
        <div class="aboutCenterImgText">
          <p>CONTACT</p>
        </div>
        <div class="contact-container">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet harum sequi neque rem optio minus ducimus explicabo quidem ratione a in, veritatis accusantium eaque id! Similique excepturi nobis nam recusandae.</p>
          <form action="/contact" method="post" class="contact-form">
            <div class="contact-row">
              <% if (locals.user) { %>
                <div class="contact-name"><label for="name">Your name</label><input type="text" id="name" name="name" value="<%=locals.user.username %>" ></div>           
                <div class="contact-email"><label for="email">Your email</label><input type="text" id="email" name="email" value="<%=locals.user.email %>" > </div>
                <% } else { %>
                  <div class="contact-name"><label for="name">Your name</label><input type="text" id="name" name="name" ></div>           
                  <div class="contact-email"><label for="email">Your email</label><input type="text" id="email" name="email"> </div>
                  <% } %>
            </div>
              <div class="contact-message">
              <textarea  name="message" id="message" rows="4"  placeholder="Your message"></textarea>
            </div>
            <div class="contact-form-action">
              <button type="submit">Send Message</button>
            </div>
            </form>
        </div>
    </div>
    <%-include('./partials/notification.ejs')%>
    <%-include('./partials/footer.ejs')%>

    <script type="module" src="/scripts/contact.js">  
      
    </script>

  </body>
</html>
