<!DOCTYPE html>
<html lang="en">
  <%-include('../partials/head.ejs')%>
  <body>
    <%-include('../partials/nav.ejs')%>
    <div class="page-container">
      <div id="content-wrap">
        <img src="/images/banner2.jpg" alt="" />
        <div class="recipeCenterImgText">
          <p>RECIPES</p>
        </div>
        <div class="recipe-details">
          <div class="recipe-header">
            <h2><%= recipe.title %></h2>
            <div class="recipe-meta">
              <span>🕛 <%= recipe.cookingTime %> minutes</span>
              <span>Difficulty: <%= recipe.difficulty %></span>
              <span>Category: <%= recipe.category %></span>

            </div>
          </div>

          <div class="recipe-body">
            <div class="recipe-section">
              <h3>Description</h3>
              <p><%= recipe.description %></p>
            </div>
            <div class="recipe-section">
              <% if (recipe.imageId) { %>
                  <img 
                      class="recipe-image"
                      src="/recipes/image/<%= recipe.imageId %>" 
                      alt="<%= recipe.title %>"
                      loading="lazy"
                  >
              <% } %>
          </div>

            <div class="recipe-section">
              <h3>Ingredients</h3>
              <ul>
                <% recipe.ingredients.forEach(ingredient => { %>
                <li style="list-style-type: none;">
                  <%= ingredient.amount %> <%= ingredient.unit %> <%=
                  ingredient.item %>
                </li>
                <% }) %>
              </ul>
            </div>

            <div class="recipe-section">
              <h3>Instructions</h3>
              <% recipe.instructions.forEach((instruction, index) => { %>
              <div class="instruction-step">
                <span class="step-number"><%= index + 1 %></span>
                <p><%= instruction.text %></p>
              </div>
              <% }) %>
            </div>
          </div>

          <div class="recipe-actions">
            <a href="/recipes" class="back-btn">Back to Recipes</a>
            <% if(locals.user){ %>
            <a href="/recipes/<%= recipe._id %>/edit" class="edit-recipe-btn">Edit Recipe</a>
            <button class="delete-btn" data-doc="<%= recipe._id %>">
              Delete Recipe
            </button>
            <% }else{ %>
              <a href="#" class="edit-recipe-btn" style="opacity: 0.6; cursor: default; pointer-events: none;">Edit Recipe</a>
              <button class="delete-btn" disabled style="opacity: 0.6;">
                Delete Recipe
              </button>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <%-include('../partials/notification.ejs')%>
    <%-include('../partials/footer.ejs')%>

    <script type="module" src="/scripts/recipes-details.js"></script>
    
  </body>
</html>
