<!DOCTYPE html>
<html lang="en">
  <%-include('../partials/head.ejs')%>
  <body>
    <%-include('../partials/nav.ejs')%>
    <div class="page-container">

      <div id="content-wrap">
          <img src="/images/banner2.jpg" alt="">
          <div class="recipeCenterImgText">
            <p>RECIPES</p>
          </div>
          <div class="newRecipe">
            <div class="filter-inputs">
              <p style="transform: translateX(150%);">🔍</p>
              <input class="search-bar" type="text" name="search" placeholder="Search by title...">
              <select style="margin-left: 1rem;" class="category-bar">
                <option value="">category</option>
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
                <option value="Dessert">Dessert</option>
                <option value="Snack">Snack</option>
              </select>
              <select style="margin-left: 1rem;" class="difficulty-bar">
                <option value="">difficulty</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
              </select>
              <div><p class="cooking-times-range-text">Cooking Time(mins)</p><input type="range" name="cookingTimeRange" class="cooking-time-range" min="1" max="240">
              </div>
            </div>
            <a href="/recipes/create"><button class="newRecipeButton" >Add a new Recipe</button>
            </a>
          </div>
          <div class="recipe-container">
          <%  if(recipes.length){ %>
              <%   recipes.forEach((recipe)=>{ %>
                <div class="recipe-card visible">
                  <p class="recipe-title"><%=recipe.title %></p>
              <div class="recipe-info">
                 <p class="cooking-times" style="text-align: start;">🕛 <%=recipe.cookingTime %>min</p>
                  <p class="recipe-difficulty"> <%=recipe.difficulty %></p>
                  <p class="recipe-category"> <%=recipe.category %></p>
              </div> 
              <div class="recipe-creator-info">
                <p class="recipe-creator">Created by:
                  <% if (recipe.creator) { %>
                    <a style="color: var(--success-color);" href="/profile/<%= recipe.creator._id %>"><%= recipe.creator.username %></a>
                  <% } else if (recipe.isGuest) { %>
                    Guest
                  <% } else { %>
                    Unknown
                  <% } %>
                </p>
             </div>
              <img src="/recipes/image/<%= recipe.imageId %>" alt="Current recipe image" style="max-width: 200px;">

                <p class="recipe-description"><%=recipe.description %> <p>
                <div style="display: flex; justify-content: space-between ;">
                  <a href="/recipes/<%= recipe._id %>" class="viewRecipeBtn">View Recipe</a>
                  <% if(locals.user){ %>
                    <button class="deleteRecipeBtn" data-doc="<%= recipe._id %>">Delete</button>
                  <% }else { %>
                    <button class="deleteRecipeBtnDisabled" style="opacity: 0.6;" disabled>Delete</button>
                  <% }  %>

                </div>
                
                </div>
             <%  })  %>
            <%} %>
          
          </div>
      </div>
      <%-include('../partials/notification.ejs')%>

    <%-include('../partials/footer.ejs')%>
    <script type="module" src="/scripts/recipes-index.js"></script>
  </body>
</html>
