<!DOCTYPE html>
<html lang="en">
  <%-include('../partials/head.ejs')%>
  <body>
    <%-include('../partials/nav.ejs')%>
    <div class="page-container">

      <div id="content-wrap">
          <img src="/banner2.jpg" alt="">
          <div class="recipeCenterImgText">
            <p>RECIPES</p>
          </div>
          <div class="newRecipe">
            <a href="/recipes/create"><button class="newRecipeButton" >Add a new Recipe</button>
            </a>
          </div>
          <div class="recipe-container">
          <%  if(recipes.length){ %>
              <%   recipes.forEach((recipe)=>{ %>
                <div class="recipe-card">
                  <p style="margin: 0; color: #333;"><%=recipe.title %></p>
              <div style="display: flex;gap: 1rem;color: #666; ">
                 <p style="text-align: start;">🕛 <%=recipe.cookingTime %>min</p>
                  <p> <%=recipe.difficulty %></p>
              </div> 
                <p style="margin-top: 0; color: #555"><%=recipe.description %> <p>
                <div style="display: flex; justify-content: space-between ;">
                  <a href="/recipes/<%= recipe._id %>" class="viewRecipeBtn">View Recipe</a>
                  <button class="deleteRecipeBtn" data-doc="<%= recipe._id %>">Delete</button>
                </div>
                
                </div>
             <%  })  %>
            <%} %>
          
          </div>
      </div>

    <%-include('../partials/footer.ejs')%>
    <script>
         const trashcan = document.querySelector('.deleteRecipeBtn ');

trashcan.addEventListener('click', (e) => {
  const endpoint = `/recipes/${trashcan.dataset.doc}`;

  fetch(endpoint, {
    method: 'DELETE',
  })
  .then(response => response.json())
  .then(data => window.location.href = data.redirect)
  .catch(err => console.log(err));
});
    </script>
  </body>
</html>
